/* debug */
nav {
    height: 90px;
    background-color: #2D3E50;
}

main {
    height: 2028px;
}
/* [class*=col-] {
    height: 80px;
    background-color: red;
} */

/* common */
hr {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    width: 15%;
    border: 1px solid;
}
.txt-white {
    color: white;
}
h1,
h2,
h3,
h4,
h6 {
  text-transform: uppercase;  
}

h1 {
    font-size: 25px;
}

/* backgrounds */
#bg-green {
    padding: 10px;
    background-color: #1BBC9C;
}

/* body */
body {
    text-align: center;
}
/* header */

/* jumbotron */
#small-img {
    width: 50%;
}

/* main */
#portfolio {
    color: black;
}
img {
    width: 100%;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}
#about {
    text-align: left;
}

/* footer */
footer {
    height: 235px;
    background-color: #3B546E;
}

#copyright {
    height: 50px;
    background-color: #2D3E50;
}