/* common */
hr {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 5px;
    width: 40px;
    border: 1px solid;
}

h1 {
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h6 {
    text-transform: uppercase;  
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ms_btn {
    border: 1px solid white;
    color: white;
    background-color: #1BBC9C;
}

/* body */
body {
    text-align: center;
}

/* header */

/* navbar */
#ms_navbar {
    background-color: #3B546E;
}

#burger-icon {
    border-color: white;
}

#burger-icon.icon-bar {
    background-color: #72767A;
}

.ms_navbar.navbar>.container .navbar-brand,
.ms_navbar.navbar-nav>li>a {
    color: white;
}
.ms_navbar.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent;
    font-size: 12px;
}

.ms_navbar.navbar-inverse .navbar-nav>.active:hover a {
    background-color: black;
    color: #1BBC9C;
}

/* jumbotron */
#jumbotron {
    padding-top: 70px;
    padding-bottom: 20px;
    color: white;
    background-color: #1BBC9C;
}

#jumbotron img {
    width: 100px;
}

/* main */
/* portfoglio */
#portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

img {
    position: relative;
    width: 100%;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}
.ms_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 1;
    width: 50%;
    height: 50%;
    border-radius: 60px;
    transition: 1s;
}

.ms_overlay:hover
 {
    background-color: rgba(59, 84, 111, 0.8);
}

.ms_plus {
    display: none;
}
.ms_overlay:hover .ms_plus {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 35px;
    color: white;
}
/* about */
#about {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1BBC9C;
    color: white;
}
/* contact_me */
#contact_me {
    padding-top: 20px;
    padding-bottom: 20px;
}

label {
    text-align: left;
    margin-top: 20px;
    color: #53616F;
}

input,
textarea {
    text-align: left;
    border-bottom: 1px solid #53616F ;
    border-top: none;
    border-left: none;
    border-right: none;
}

input,
textarea {
    width: 100%;
}

/* footer */
#footer_ {
    padding-top: 10px;
    color: white;
    background-color: #3B546E;
}

#txt-green {
    color: #1BBC9C;
}

.list-inline li a{
    display: inline-block;
    border: 1px solid white;
    margin-top: 5px;
    padding: 8px 13px;
    border-radius: 20px;
    color: white;
}

#copyright {
    padding: 10px;
    background-color: #2D3E50;
    color: white;
}

/* media quires */
@media (max-width: 767px){
  #paragraph {
      margin-top: 20px;
    } 
}

@media (min-width: 768px){
    h1 {
        font-size: 3em;
    }

    h4 {
        font-size: 2em;
    }

    h6 {
        font-size: 1em;
    }

    hr {
        width: 5em;
    }

    #jumbotron img {
        width: 10em;
    }
  }
